<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <p>{{ message }}</p>

        <!-- Derective Text -->
        <p v-text="messageWithHtml"></p>

        <!-- Directive HTML -->
        <p v-html="messageWithHtml"></p>

        <!-- Directive If -->
        <p v-if="show">{{ message }}</p>
        <p v-if="!show">{{ message }}</p>
        
        <p v-if="name == 'Lukman'">Hallo {{name}}</p>
        <p v-else="name">Maaf nama anda bukan {{name}}</p>
    </div>
    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>

</body>
</html>