<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <p>{{ message }}</p>

        <!-- Derective Text -->
        <p v-text="messageWithHtml"></p>

        <!-- Directive HTML -->
        <p v-html="messageWithHtml"></p>

        <!-- Directive If -->
        <p v-if="show">{{ message }}</p>
        <p v-if="!show">{{ message }}</p>
        
        <p v-if="name == 'Lukman'">Hallo {{name}}</p>
        <p v-else="name">Maaf nama anda bukan {{name}}</p>

        <!-- Computed Properties-->
        <p>Result from {{ int1 }} + {{ int2 }} is {{ sum }}</p>

        <!-- Method Properties-->
        <p>Click Process to view result</p>
        <button v-on:click="sumProcess(3)">Process</button><br>
        <p v-if="result != null">Result: {{ result }}</p>
        <br>

        <!-- Watch Properties -->
        <input type="text" v-model="kilometers"> Km ==
        <input type="text" v-model="meters"> m
        <br><br>

        <!-- Directive v-model in input text -->
        <input type="text" v-model="valueInput">
        <p>{{ valueInput }}</p>
        
        <!-- Directive v-model in textarea -->
        <textarea cols="30" rows="10" v-model="textarea"></textarea>
        <p style="white-space: pre-line">{{ textarea }}</p>

        <!-- Directive v-model in radiobutton -->
        <input type="radio" v-model="radioButton" value="option-1"> Option 1 <br>
        <input type="radio" v-model="radioButton" value="option-2"> Option 2 <br>
        <p>Your choice is: {{ radioButton }}</p>     
        
        <!-- Directive v-model in select dropdwon -->
        Choice 1 your favorivte language:<br>
        <select v-model="selectOneLanguage">
            <option value="" disabled>Choice language</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Java">Java</option>
            <option value="Kotlin">Kotin</option>
        </select>
        <p>Your Language choice is: {{ selectOneLanguage }}</p>

        Choice one and more your favorivte language:<br>
        <select v-model="selectMoreLanguage" multiple>
            <option value="" disabled>Choice language</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Java">Java</option>
            <option value="Kotlin">Kotin</option>
        </select><br>
        Your Language choice is:
        <ul>
            <li v-for="language in selectMoreLanguage">{{ language }}</li>
        </ul>

        <!-- Directive v-model in checkbox -->
        Choice your hobby<br>
        <input type="checkbox" value="watching-movie" v-model="checkbox">
        <label>Watching Movie</label><br>
        <input type="checkbox" value="treveling" v-model="checkbox">
        <label>Treveling</label><br>
        <input type="checkbox" value="reading" v-model="checkbox">
        <label>Reading</label><br>
        <input type="checkbox" value="gaming" v-model="checkbox">
        <label>Gaming</label><br>

        Your hobby:
        <ul>
            <li v-for="cb in checkbox">{{ cb }}</li>
        </ul>

    </div>
    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>

</body>
</html>